.mypy_cache
app/__pycache__/
app/database/.env
app/database/__pycache__
app/depends/rabbitmq/__pycache__
app/depends/rabbitmq/.env
app/models/__pycache__
app/routes/__pycache__
app/services/crud/__pycache__
app/.env

bot/__pycache__
bot/clients/__pycache__
bot/clients/tg/__pycache__
bot/.env

chromadb
dataloader
nginx
rabbitmq

search/.env
search/database/__pycache__/

sort/.env
sort/database/__pycache__/
sort/models/__pycache__/
sort/services/__pycache__/
sort/services/crud/__pycache__/

.env




